*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title{
    color: white;
    margin-left:30px;
    
}
a{
    text-decoration: none;
}
.cart{
    color: white;
    position: relative;
}
header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 100;
    cursor: pointer;
}

.headerIcons{
   color: white;
   list-style: none;
   display: flex;
   gap: 50px;
   font-size: x-large;
   margin-right: 50px;
   /* cursor: pointer; */
}
.count{
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: small;
    position: absolute;   
}
